<!DOCTYPE html>
<html>
<head>


    <title>New Website</title>

    <meta name="author" content="Phaser" />
    <link rel="stylesheet" href="css/normalize.css" />
    <link rel="stylesheet" href="css/mystyle.css" />    
    <link rel="stylesheet" href="css/menu.css" />     
    <link rel="stylesheet" href="css/content.css" /> 
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab&subset=latin,cyrillic' rel='stylesheet' type='text/css'>
</head>
<body>
    <div id="page_container"> 
        
        <script src="script.js"></script>
        <div id="header">
            <div id="name">
                <h1><a>My Website</a></h1>
            </div>
        </div>
        
        <div id="topnav" >
            <ul class="topmenu">
                <li><a href="javaScript:void(0);" onclick="showAlert()"> Login</a></li>
                <li><a href=""> Link2</a></li>
                <li><a href=""> Link3</a></li>
                <li><a href=""> useful links</a></li>
                <li class="icon">
                    <a href="javascript:void(0);" style="font-size:15px;" onclick="showMenu()">Menu ☰</a>
                </li>
            </ul>
        </div>
        <div id="sidemenu" class="absolute-sidemenu"> <h3 class="head">Main menu</h3>
            <a href="/">Home</a>
            <a href="https://www.ya.ru">External link</a>
            <a href="/grid">Grid</a>

        </div>
        <div id="content-wrapper">
            
            <div id="alert" class="hidden">
                <span class="closebtn" onclick="closeAlert()">&times;</span>
                <strong>Attention!</strong> You have already logged in.
            </div>

            <div id="content">
                    <h2>Home</h2>
                    
                    <p>
                    </p>
                    <p>
                    </p>
                    <p>
                    </p>
                    <% var i=1;
                       items.forEach( function (item) {%>
                        <div class="entry">
                            <button class="wrapper" id="line">
                                
                                <%=i%>.
                                <%=item.Name%>
                            </button>
                                                        
                            <div class="panel">
                                <div id="line">
                                    Link: 
                                    <a href='<%='http://'+item.Url%>'> <%=item.Url%></a>
                                </div>
                                <div id="line">
                                    Description: 
                                    <%=item.Description%>
                                </div> 
                            </div>                           
                            <button class="remove" data-id='<%=item.id%>'>remove</button>
                        </div>
                    <%i++; });%>
                    <script src="content.js">                       
                    </script>
                
                
                
                
                    <p>
                    
                    </p>
                    <table id="form" >
                        <tr>
                            <td>Site name</td>
                            <td><label><input id="site_name" name="site_name" /></label></td>
                        </tr>
                        <tr>
                            <td>Site link</td>
                            <td><label><input id="site_link" name="site_link" /></label></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td><label><input id="site_desc" name="site_desc" /></label></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td><input type="submit" name="button" value="Add" id="add_button" /></td>
                        </tr>
                    </table>
                    
                    <script>
                        var form = document.querySelector("#form");
                        var site_name = form.querySelector("#site_name");
                        var site_link = form.querySelector("#site_link");
                        var site_desc = form.querySelector("#site_desc");
                        form.querySelector("#add_button").addEventListener('click', function(){
                            var req = new XMLHttpRequest();
                            var request_text = 'add?site_name=' + encodeURIComponent(site_name.value) +
                                                '&site_link=' + encodeURIComponent(site_link.value) +
                                                '&site_desc=' + encodeURIComponent(site_desc.value);
                            req.open('post', request_text);
                            req.send();
                            req.addEventListener('load', function () {
                                location.replace('/');
                            });
                        });
                        var buttons = document.querySelectorAll('.remove');
                        for(var i = 0; i < buttons.length; i++){
                            buttons[i].addEventListener('click', function() {
                                var itemId = this.getAttribute('data-id');
                                var request = new XMLHttpRequest();
                                var request_text = 'delete?id=' + encodeURIComponent(itemId);
                                request.open('delete', request_text);
                                request.send();
                                request.addEventListener('load', function () {
                                    location.reload();
                                });
                            });
                        }
                    </script>
                    
            </div>
        </div>
    </div>
    
    <div id="back-top">
        <span>
            <a id="backtotop-button"  onclick="window.scroll(0,0)" class="hidden"><img src="img/backtotop.png"></a>
        </span>
    </div>
    
    <div id="logout">
        <span>
            <a id="logout-button" href="/logout" ><img src="img/logout.png"></a>
        </span>
    </div>
    
    <div id="footer">
        <p>
            Webpage made by <a href="https://github.com/Phas3r" target="_blank">Phaser</a>
        </p>
    </div>
</body>
</html>