<!DOCTYPE html>
<html>
<head>


    <title>New Website</title>

	<meta name="author" content="Phaser" />

</head>
<link rel="stylesheet" href="css/normalize.css" />
<link rel="stylesheet" href="css/mystyle.css" />    
<link rel="stylesheet" href="css/menu.css" />   
<body>
    <div id="page_container"> 
        
        <script src="script.js"></script>
        <div id="header">
            <div id="name">
                <h1><a>My Website</a></h1>
            </div>
        </div>
        
        <div id="topnav" >
            <ul class="topmenu">
                <li><a href="#"> Link1</a></li>
                <li><a href="#"> Link2</a></li>
                <li><a href="#"> Link3</a></li>
                <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ"> useful links</a></li>
                <li class="icon">
                    <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()">Menu ☰</a>
                </li>
            </ul>
        </div>
        <div id="sidemenu" class="absolute-sidemenu">
            <a href="https://www.google.com">First link</a>
            <a href="https://www.ya.ru">Another link</a>
            <a href="https://www.youtube.com">And another one</a>

        </div>
        <div id="content-wrapper">
            <div id="content">
                    <h2>Home</h2>
                    
                    <p>
                    </p>
                    <p>
                    </p>
                    <p>
                    </p>
                    <% items.forEach( function (item) {%>
                        <div id="entry">
                            <div id="line">
                                <%=item.id%>.
                                <%=item.Name%>
                            </div>
                                                        
                            <div id="line">
                                Link: 
                                <a href='<%='http://'+item.Url%>'> <%=item.Url%></a>
                            </div>
                            
                            <div id="line">
                                Description: 
                                <%=item.Description%>
                            </div>
                        </div>
                    <% });%>
                    <p>
                    </p>
                    
                    <div class="col-6">
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                    </div>
                    
                    <div class="col-6">
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                        <p>
                           Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus aliquam aliquid commodi consequatur, deleniti, dignissimos dolor earum facilis laborum laudantium maxime molestias numquam officiis optio perspiciatis quis repellat sed veritatis.
                        </p>
                    </div>
            </div>
        </div>
        <div id="footer">
            <p>
                Webpage made by <a href="https://github.com/Phas3r" target="_blank">Phaser</a>
            </p>
        </div>
    </div>
    
    <div id="back-top">
        <span>
            <a id="backtotop-button"  onclick="window.scroll(0,0)" class="hidden"><img src="img/backtotop.png"></a>
        </span>
    </div>
</body>
</html>